.bg {
  background-color: transparent;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: white;
}
