<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>React App</title>
</head>
<body>
<div class="container">
    <h1>Робота з фото</h1>
    <form id="addForm">
        <div class="mb-3">
            <div class="row" id="contentImage">
                <div class="col-md-2">
                    <img src="https://cdn2.iconfinder.com/data/icons/leto-most-searched-mix-5/64/__image_plus_add-512.png"
                         width="100%" alt="Пошук фото"
                         style="cursor: pointer"
                         id="btnAddImage">
                </div>
            </div>
        </div>
        <input class="btn-info" type="submit" value="Send" />
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"></script>

<script>
    //window.onload = function();
    window.addEventListener("load", function() {

        let addForm = document.getElementById("addForm");
        addForm.addEventListener("submit", async function (e) {

            let url = "http://localhost:8081/api/public/upload"
            let formData = new FormData();
            let  el = document.querySelector('#contentImage')
            let matches = el.querySelectorAll("input[data-files]")

            for(let i = 0; i<matches.length; i++){
                formData.append("file", matches[i].files[0])
            }


            let res = await axios.post(url, formData, {
                headers:{
                    "Content-Type":"multipart/form-data"
                }
            })
            let data = res.data;
            console.log(data);
        })

        let btnAddImage= document.getElementById("btnAddImage");
        let id = 1;
        btnAddImage.addEventListener("click", function() {
            let imageName="image"+id++;

            let div = $(`<div class="col-md-2"></div>`)

            let inputFile = `<input type="file" data-files style="display:none" class="form-control" id="${imageName}">`;
            div.prepend(inputFile)

            $("#contentImage").prepend(div);

            document.getElementById(imageName).click();
            document.getElementById(imageName).onchange= function (e){

                console.log(e.target.files[0].name);

                        let file = e.target.files[0];
                        const fsize = file.size;
                        const tmp = Math.round((fsize / 1024));
                        if (tmp >= 4096) {
                            console.log("Soo big")
                        }
                        if (!file.type.match(/^image\//)) {
                            console.log("No image")
                        }
                        else{
                            console.log("Good")

                            let id = file.name

                            let content =
                                `<div >
                                    <img src="${URL.createObjectURL(e.target.files[0])}"
                                         width="100%" alt="обране фото"
                                         style="cursor: pointer"
                                         id="btnAddImage">
                                </div>
                            <button id="${id}" class="btn-close"></button>`;


                            div.prepend(content)

                             // $("#contentImage").prepend(content);
                            // $(`#${imageName}`).prepend(content);

                            document.getElementById(id).onclick = function(e){
                                e.preventDefault();
                                div.remove();
                                console.log("click delete")
                            }
                        }


            }
        });
    });
</script>

</body>
</html>